.page-title{
    box-sizing: border-box;

    position: absolute;
    width: 1600px;
    height: 751px;
    left: 282px;
    top: 156px;

    background: #FFFFFF;
    border: 1px solid #E6EBF1;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;

}
.page-title .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 1000px;

    position: absolute;
    width: 1533px;
    height: 60px;
    left: 34px;
    top: 34px;
    padding: 0 0 15px;
    border-bottom: 1px solid #E6EBF1;
}
.page-title .header #value_page{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 120px;
    height: 40px;

    border: 1px solid #E6EBF1;
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-title .search{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    right: 33px;
    width: 414px;
    height: 40px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.page-title .search input{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 250px;
    height: 40px;

    border: 1px solid #E6EBF1;
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-title .search .button-search{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 84px;
    height: 40px;

    border: 1px solid #E6EBF1;
    border-radius: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.page-title .search .filter{
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #E6EBF1;
    border-radius: 50%;
}
.page-title .page_action{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1533px;
    height: 40px;
    left: 34px;
    top: 114px;
}
.page-title .page_action .delete_button{
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100px;
    height: 40px;
    background: #F7F7F8;
    border: 1px solid #E6EBF1;
    border-radius: 10px;
    color: #D0D4D7;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-title .page_action .delete_button_active{
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100px;
    height: 40px;
    background: red;
    border: 1px solid #E6EBF1;
    border-radius: 10px;
    color: #D0D4D7;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-title .page_action .add{
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 20px;
    width: 140px;
    height: 40px;

    background: #3E79F7;
    box-shadow: 0px 2px 4px rgba(62, 121, 247, 0.05);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.page-title .page_action button{
    width: 28px;
    height: 21px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-title .table_box{
    top: 180px;
    position: absolute;
    width: 96%;
    left: 2%;
}
.page-title .table{
    width: 100%;

}
.page-title .table .title{
    border-right: 1px solid #E6EBF1;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #1A3353;
    border-bottom: 1px solid #E6EBF1;
    height: 60px;
    text-align: center;
    align-items: center;
}
.page-title .table .title:last-child{
    border-right: none;
}
.page-title .table .title:first-child{
    border-right: none;
}
.page-title .table_box .content{
    text-align: center;
    border-bottom: 1px solid #E6EBF1;
}
.page-title .table_box .content td{
    border-bottom: 1px solid #E6EBF1;
    height: 60px;
}
.page-title .table>thead>tr>th {
    vertical-align: inherit;
}
.page-title .table>tbody>tr>td{
    vertical-align: inherit;
}
.page-title .content .edit{
    background: #FFFFFF;
    border: 1px solid #E6EBF1;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    left: 16px;
    top: 16px;
}
.page-title .content .delete{
    width: 36px;
    height: 36px;
    left: 68px;
    top: 16px;
    background: #FFFFFF;
    border: 1px solid #E6EBF1;
    border-radius: 8px;
}
.modal-body .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 67px;
    margin: 0 0 20px;
    width: 752px;
    height: 40px;
}
.page-title .modal-content{
    width: 800px;
    position: relative;
    width: 800px;
    /* height: 550px; */
    left: -70px;
}
.modal-body  .box .time{
    width: 160px !important;
    left: 0;
}
.modal-body .box .title{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: black;
}
.modal-body .box .add{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;

    width: 139px;
    height: 40px;

    border: 2px dashed #D9D9D9;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.modal-header h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins';
    font-style: normal;
}
.modal-body .box .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;

    width: 500px;
    height: 40px;

    /* border */

    border: 1px solid #E6EBF1;
    border-radius: 10px;
}
.modal .modal-content .modal-footer{
    background-color: #FFFFFF !important;
}
